body {
  background-color: #191765;
  font-family: 'roboto', sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.menu-list a:hover {
  background-color: #7d73fc;
  border: 1px solid #fff;
  padding: 10px;
  font-size: 20px;
}

.menu-list :last-child a:hover {
  background-color: #191765;
  border: #191765;
}

.john:hover {
  color: #7d73fc;
  font-size: 20px;
}

.image:hover {
  width: 50px;
  height: 50px;
  justify-content: space-between;
  flex-direction: row;
}

#poupWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

@media (max-width: 767px) {
  .mobile {
    background-image: url(./images/top-circles.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
  }

  nav {
    display: flex;
  }

  .show {
    display: block !important;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
  }

  .john {
    align-self: flex-start;
    font-size: 18px;
    color: #ffff;
    margin-left: 15px;
  }

  .menu {
    margin-top: 15px;
    margin-right: 15px;
  }

  .line {
    background-color: #fff;
    width: 2rem;
    height: 0.2rem;
    margin-bottom: 5px;
  }

  .menu-list {
    width: 100%;
    display: none;
    background-image: url(./images/menu-img.svg);
    background-size: cover;
    background-color: #16155b;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: -10px;
    height: 100vh;
  }

  .base li {
    border-right: 2px solid #555;
    padding-right: 20px;
    height: 30px;
    padding-top: 10px;
    color: #ffff;
  }

  .story-list li {
    border-left: 2px solid #5c5c7a;
    height: 30px;
    padding-top: 10px;
    padding-left: 15px;
    color: #c7c7d5;
    display: none;
  }

  .story-list2 li {
    border-left: 2px solid #5c5c7a;
    height: 30px;
    padding-top: 10px;
    padding-left: 15px;
    color: #c7c7d5;
    padding-right: 15px;
    margin-bottom: 10%;
  }

  .frameworks ul li {
    color: #f5f5ff;
    font-size: 15px;
    line-height: 24px;
    margin-top: 8px;
    margin-left: -40px;
  }

  .language ul li {
    color: #f5f5ff;
    font-size: 15px;
    line-height: 24px;
    margin-top: 8px;
    margin-left: -40px;
  }

  .skills ul li {
    color: #f5f5ff;
    font-size: 15px;
    line-height: 24px;
    margin-top: 8px;
    margin-left: -40px;
  }

  .menu-list li:last-child {
    display: none;
  }

  .menu-list .list {
    font-size: 24px;
    line-height: 60px;
  }

  .arrow {
    color: #5c55ca;
    font-size: 23px;
    padding-left: 220px;
  }

  .arrow1 {
    color: #5c55ca;
    font-size: 23px;
    padding-left: 195px;
  }

  .arrow2 {
    color: #5c55ca;
    font-size: 23px;
    padding-left: 200px;
  }

  .close {
    color: #fff;
    font-size: 40px;
    padding-left: 280px;
    padding-top: 16px;
  }

  #about h1 {
    font-size: 48px;
    text-align: center;
    color: #7d73fc;
  }

  footer h2 {
    color: #9390ff;
    margin-top: 66px;
    font-size: 32px;
  }

  #about h2 {
    font-size: 32px;
    text-align: center;
    color: #edecff;
  }

  #about .first-para {
    font-size: 20px;
    color: #8685aa;
    width: 327px;
    text-align: center;
    margin-left: 25px;
    margin-top: 45px;
    margin-bottom: 33px;
  }

  .divider {
    width: 87%;
    border: 1px solid #646369;
  }

  .known {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  h5 {
    color: #7571d8;
    font-size: 12px;
  }

  .certifications {
    display: flex;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .language {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .language ul {
    margin-top: 0;
  }

  .frameworks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 40px;
  }

  .frameworks ul {
    margin-top: 0;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .skills ul {
    margin-top: 0;
  }

  .logos {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .myworks {
    display: none;
  }

  .logos ul {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }

  .mywork {
    width: 77px;
    height: 40px;
    margin-left: 154px;
  }

  #works {
    background-image: url(./images/portfolio-background-shapes-mobile.svg);
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: contain;
    display: grid;
    justify-content: center;
    margin: 0%;
  }

  .recent {
    font-size: 40px;
    color: #9490ff;
    width: 250px;
    line-height: 60px;
  }

  .rec-post {
    display: none;
  }

  .dividers {
    width: 90%;
    border: 1px solid #646369;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .second-header {
    font-size: 32px;
    color: #ffff;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .second-para {
    line-height: 30px;
    font-size: 20px;
    color: #dcdce8;
    margin-top: -1px;
    width: 305px;
  }

  #story-a {
    width: 90%;
    height: 100%;
    overflow: auto;
    display: grid;
    background-color: rgb(56, 56, 104, 0.6);
    margin-left: -1%;
  }

  #story-b {
    width: 90%;
    display: grid;
    justify-content: center;
    background-color: rgb(56, 56, 104, 0.6);
    margin-left: 5%;
  }

  #story-c {
    width: 90%;
    display: grid;
    justify-content: center;
    background-color: rgb(56, 56, 104, 0.6);
    margin-left: 5%;
  }

  #story-d {
    width: 90%;
    display: grid;
    justify-content: center;
    background-color: rgb(56, 56, 104, 0.6);
    margin-left: 5%;
  }

  .base {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .base li:last-child {
    border-right: none;
  }

  .butt {
    width: 89px;
    height: 48px;
    left: 0;
    margin-top: 20px;
    margin-bottom: 35px;
    background-color: #7d73fc;
    color: white;
  }

  .butt-a {
    width: 89px;
    height: 48px;
    left: 0;
    margin-top: 20px;
    margin-bottom: 35px;
    background-color: #7d73fc;
    color: white;
  }

  .butt-b {
    width: 89px;
    height: 48px;
    left: 0;
    margin-top: 20px;
    margin-bottom: 35px;
    background-color: #7d73fc;
    color: white;
  }

  .butt-c {
    width: 89px;
    height: 48px;
    left: 0;
    margin-top: 20px;
    margin-bottom: 35px;
    background-color: #7d73fc;
    color: white;
  }

  .butt-d {
    width: 89px;
    height: 48px;
    left: 0;
    margin-top: 20px;
    margin-bottom: 35px;
    background-color: #7d73fc;
    color: white;
  }

  .butt-e {
    width: 89px;
    height: 48px;
    left: 0;
    margin-top: 20px;
    margin-bottom: 35px;
    background-color: #7d73fc;
    color: white;
  }

  .butt-a:hover {
    color: blue;
  }

  .butt-b:hover {
    color: blue;
  }

  .butt-c:hover {
    color: blue;
  }

  .butt-d:hover {
    color: blue;
  }

  .butt-e:hover {
    color: blue;
  }

  .butt:hover {
    color: blue;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
  }

  .third-para {
    width: 303px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #f5f5ff;
    margin-top: 20px;
  }

  footer .form .butt {
    align-self: center;
  }

  input.input {
    width: 309px;
    margin-bottom: 12px;
    height: 31px;
    padding: 12px;
  }

  input#name {
    margin-bottom: 12px;
  }

  a {
    color: #fff;
    margin-bottom: 24px;
  }

  .footer-hr {
    width: 100%;
    background-color: #3a3837;
    height: 1px;
    margin-top: 38px;
    margin-bottom: 24px;
  }

  .logos-2 {
    display: flex;
    justify-content: center;
    margin-left: -42px;
  }

  .chat {
    display: none;
  }

  .form-2 {
    display: none;
  }

  .log-2 {
    display: none;
  }

  .footer-hr-2 {
    display: none;
  }

  .mail1 {
    text-align: center;
    margin-left: 10px;
  }

  .multi-img {
    width: 90%;
    justify-self: center;
    height: 100%;
  }

  .multi-1 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    justify-self: center;
  }

  .story-list {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    width: 30%;
  }

  .story-list2 {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    width: 70%;
  }

  .story-list2 li:last-child {
    border-right: 2px solid #5c5c7a;
    padding-right: 15px;
  }

  .lorem {
    color: #cdcdd9;
    text-align: center;
    font-size: 15px;
    width: 60%;
    justify-self: center;
    line-height: 30px;
    margin-top: 4%;
    margin-bottom: 4%;
    display: none;
  }

  .lorem2 {
    color: #f3f3f5;
    text-align: center;
    font-size: 15px;
    width: 80%;
    justify-self: center;
    line-height: 30px;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .multi-para {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    display: none;
  }

  .multi-para2 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .close2 {
    font-size: 25px;
    color: #cdcdd8;
  }

  .story-butt {
    width: 100%;
    justify-self: center;
    display: grid;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 5%;
  }

  .sl {
    background-color: #7d73fc;
    font-size: 15px;
    width: 80%;
    justify-content: center;
    padding-left: 15px;
    padding-top: 10px;
    height: 70%;
  }

  .sc {
    background-color: #7d73fc;
    font-size: 15px;
    width: 100%;
    justify-content: center;
    padding-left: 15px;
    padding-top: 5px;
    height: 60%;
    margin-left: -10%;
    margin-top: 20%;
  }

  .git {
    height: 30%;
    justify-self: center;
    padding-top: 10px;
  }

  .tell {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .mobile {
    background-image: url(./images/twocirclesheader.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 150px;
  }

  .toolbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .john {
    font-size: 18px;
    color: #fff;
  }

  .menu-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 50px;
  }

  .menu {
    display: none;
  }

  .arrow {
    display: none;
  }

  .arrow1 {
    display: none;
  }

  .arrow2 {
    display: none;
  }

  .close {
    display: none;
  }

  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about h1 {
    font-size: 90px;
    line-height: 105px;
    color: #9390ff;
    margin-bottom: 0%;
  }

  #about h2 {
    font-size: 40px;
    line-height: 47px;
    color: #babbcd;
  }

  #about .first-para {
    font-size: 20px;
    line-height: 32px;
    color: #9196b0;
    width: 447px;
    margin: 20px 400px;
    text-align: center;
  }

  .divider {
    width: 35%;
    border: 1px solid #646369;
  }

  .known {
    display: flex;
    margin: 0 450px;
    justify-content: center;
    margin-left: 408px;
  }

  .certifications {
    display: flex;
    justify-content: center;
  }

  h5 {
    color: #7571d8;
    font-size: 18px;
  }

  .base li {
    border-right: 2px solid #555;
    padding-right: 10px;
    height: 30px;
    padding-top: 10px;
    color: #ffff;
  }

  .frameworks h5 {
    margin-left: 40px;
  }

  .language {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .language ul {
    margin-top: 0;
  }

  .story-list li {
    border-left: 2px solid #5c5c7a;
    height: 30px;
    padding-top: 10px;
    padding-left: 15px;
    color: #c7c7d5;
  }

  .language ul li {
    color: #f5f5ff;
    font-size: 15px;
    line-height: 24px;
    margin-top: 8px;
    margin-left: -40px;
  }

  .frameworks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 40px;
  }

  .frameworks ul {
    margin-top: 0;
  }

  .frameworks ul li {
    color: #f5f5ff;
    font-size: 15px;
    line-height: 24px;
    margin-top: 8px;
    margin-left: 0;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .skills ul {
    margin-top: 0;
  }

  .skills ul li {
    color: #f5f5ff;
    font-size: 15px;
    line-height: 24px;
    margin-top: 8px;
    margin-left: -40px;
  }

  .logos {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 150px;
  }

  .logos ul {
    display: flex;
    margin-left: -41px;
  }

  #works {
    display: flex;
    flex-direction: column;
    background-image: url(./images/Group65.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0;
    margin-right: 0;
  }

  .recent {
    display: none;
  }

  .rec-post {
    font-size: 50px;
    line-height: 114px;
    color: #9390ff;
    align-self: flex-start;
    margin: 0 10%;
  }

  .dividers {
    width: 80%;
    border: 1px solid #646369;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .post {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
  }

  .post-a {
    display: flex;
    flex-direction: column;
    margin-bottom: -20px;
  }

  .second-header {
    font-size: 30px;
    line-height: 52px;
    color: #fff;
    width: 350px;
    height: 80px;
    margin-top: 54px;
    margin-bottom: 0;
  }

  .second-para {
    font-size: 16px;
    line-height: 24px;
    color: #c6c7d6;
    width: 350px;
    height: 140px;
    margin-top: -19px;
  }

  .base {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
    width: 250px;
    height: 40px;
  }

  .base li:last-child {
    border-right: none;
  }

  .butt {
    width: 90px;
    height: 35px;
    left: 0;
    margin-top: 10px;
    margin-bottom: 35px;
    background-color: #7d73fc;
    color: white;
  }

  .butt-a {
    width: 90px;
    height: 35px;
    left: 0;
    margin-top: 10px;
    margin-bottom: 35px;
    background-color: #7d73fc;
    color: white;
  }

  .butt-b {
    width: 90px;
    height: 35px;
    left: 0;
    margin-top: 10px;
    margin-bottom: 35px;
    background-color: #7d73fc;
    color: white;
  }

  .butt-c {
    width: 90px;
    height: 35px;
    left: 0;
    margin-top: 10px;
    margin-bottom: 35px;
    background-color: #7d73fc;
    color: white;
  }

  .butt-d {
    width: 90px;
    height: 35px;
    left: 0;
    margin-top: 10px;
    margin-bottom: 35px;
    background-color: #7d73fc;
    color: white;
  }

  .butt-e {
    width: 90px;
    height: 35px;
    left: 0;
    margin-top: 10px;
    margin-bottom: 35px;
    background-color: #7d73fc;
    color: white;
  }

  .butt:hover {
    color: blue;
  }

  .butt-a:hover {
    color: blue;
  }

  .butt-b:hover {
    color: blue;
  }

  .butt-c:hover {
    color: blue;
  }

  .butt-d:hover {
    color: blue;
  }

  .butt-e:hover {
    color: blue;
  }

  .placeholder {
    width: 550px;
    height: 448px;
    margin-right: 20px;
  }

  .post-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 10%;
  }

  .post-2 {
    display: flex;
    margin: 0 10%;
  }

  .post-3 {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 10%;
  }

  .post-1-b {
    margin-right: 20px;
  }

  .post-3-d {
    margin-right: 20px;
  }

  #contacts {
    display: none;
  }

  .form {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 100px 30%;
    margin-bottom: 0;
  }

  .form-2 {
    display: flex;
    flex-direction: column;
  }

  .log {
    display: none;
  }

  .logos-2 {
    display: flex;
  }

  .third-para {
    font-size: 14px;
    line-height: 22px;
    color: #ebebff;
    align-self: center;
    text-align: center;
    margin-bottom: 60px;
  }

  .chat {
    font-size: 33px;
    line-height: 20px;
    color: #9390ff;
    text-align: center;
  }

  .last {
    display: flex;
    justify-content: space-between;
  }

  .input {
    width: 280px;
    margin-bottom: 15px;
    height: 25px;
  }

  .email {
    margin-bottom: 15px;
    height: 25px;
  }

  #textareas {
    margin-bottom: 60px;
  }

  .form-2 .butt {
    align-self: center;
  }

  .footer-hr {
    display: none;
  }

  #mail {
    margin-top: 30px;
  }

  .log-2 {
    display: flex;
    justify-content: center;
  }

  #story-a {
    width: 70%;
    display: grid;
    justify-content: center;
    background-color: rgb(56, 56, 104, 0.6);
    height: 95%;
    overflow: auto;
  }

  #story-b {
    width: 70%;
    display: grid;
    justify-content: center;
    background-color: rgb(56, 56, 104, 0.6);
    margin-left: 230px;
  }

  #story-c {
    width: 70%;
    display: grid;
    justify-content: center;
    background-color: rgb(56, 56, 104, 0.6);
    margin-left: 230px;
  }

  #story-d {
    width: 70%;
    display: grid;
    justify-content: center;
    background-color: rgb(56, 56, 104, 0.6);
    margin-left: 230px;
  }

  .multi-img {
    width: 90%;
    justify-self: center;
  }

  .multi-1 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    justify-self: center;
  }

  .story-list {
    display: flex;
    justify-content: space-around;
    padding-left: 250px;
    width: 40%;
  }

  .story-list li:last-child {
    border-right: 2px solid #5c5c7a;
    padding-right: 15px;
  }

  .lorem {
    color: #cdcdd9;
    text-align: center;
    font-size: 15px;
    width: 60%;
    justify-self: center;
    line-height: 30px;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .multi-para {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
  }

  .close2 {
    font-size: 30px;
    color: #cdcdd8;
  }

  .story-butt {
    width: 40%;
    justify-self: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
    margin-top: 5%;
  }

  .sl {
    background-color: #7d73fc;
    font-size: 10px;
    width: 30%;
    padding-left: 30px;
    padding-top: 10px;
  }

  .sc {
    background-color: #7d73fc;
    font-size: 10px;
    width: 30%;
    padding-left: 30px;
    padding-top: 10px;
  }

  .git {
    height: 40%;
    justify-self: center;
  }

  #poupWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
  }

  .lorem2 {
    display: none;
  }

  .multi-para2 {
    display: none;
  }

  .story-list2 {
    display: none;
  }
}
