body {
  background: #191765;
  background-image: url(./images/top-circles.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'roboto', sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.base {
  display: flex;
  justify-content: space-around;
}

.base li {
  border-right: 2px solid #555;
  padding-right: 20px;
  height: 35px;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
  position: static;
  width: 327px;
  height: 30px;
  left: 0;
  top: 0;
}

.recent {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-self: flex-start;
}

h2 {
  color: #edecff;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  position: static;
  width: 327px;
  left: 0;
  top: 67px;
}

.vl {
  border-left: 2px solid #555;
  height: 40px;
}

.second-header {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.john {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  color: #edecff;
  position: static;
  width: 81px;
  height: 16px;
  top: 10px;
}

.menu {
  width: 35.33px;
  height: 22.83px;
  margin-left: 7.33px;
  margin-top: 13.58px;
  margin-right: 15px;
}

.first-para {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  position: static;
  width: 327px;
  height: 170px;
  left: 0;
  top: 0;
}

h5 {
  color: #7571d8;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  position: static;
  width: 107px;
  height: 16px;
  left: 8px;
  top: 5.33px;
}

p {
  color: #f5f5ff;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.second-para {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  width: 327px;
  height: 204px;
  left: 0;
  top: 129px;
}

.placeholder {
  margin: 24px 0;
}

.workwith ul li {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  color: #f5f5ff;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: 8px;
}

.certifications ul li {
  list-style-type: none;
  color: #f5f5ff;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: 8px;
}

.top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 5px;
  margin-left: 0;
}

.logos {
  width: 200px;
  height: 40px;
  margin: 24px 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.butt {
  width: 89px;
  height: 48px;
  left: 0;
  margin-top: 20px;
  background-color: #7d73fc;
  color: white;
}

.butt:hover {
  color: blue;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certifications {
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.frameworks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.skills ul li {
  color: #f5f5ff;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  list-style-type: none;
  margin-top: 8px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works {
  background-image: url(./images/portfolio-background-shapes-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  justify-content: center;
  padding: 24px;
}

.mywork {
  display: flex;
  justify-self: center;
}

.base li:last-child {
  border-right: none;
}
